.bg {
  background-color: #c722f9;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1800px;
}
.bg1 {
  width: 95%;
  margin-left: 2%;
  margin-right: 0%;
  height: 600px;
  justify-content: center;
  text-align: center;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  border-image-width: 10px;
}
img {
  width: 1600px;
  height: 1060px;
}
h1 {
  padding: 10px;
  font-family: "quicksand", "Times New Roman", Times, serif;
}
